@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist;

<h2>Edit Stylist</h2>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName, "First Name")
  @Html.EditorFor(model => model.FirstName)
  @Html.LabelFor(model => model.LastName, "Last Name")
  @Html.EditorFor(model => model.LastName)
  <input type="submit" value="Save Changes" />
}