@{
  Layout = "_Layout";
}

<h4>Are you sure you want to delete the record for @Model.FirstName?</h4>
@using (Html.BeginForm())
{
  <input class="submit-button" type="submit" value="Yes, Delete Client" />
}