@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h2>All Clients</h2>
<p>Please select a client:</p>
<div class="list-div">
@if (Model.Count == 0)
{
  <p>No clients in database. Clients may be added through the individual stylist's page.</p>
}
else
{
  foreach (Client client in Model)
  {
    <p>@Html.ActionLink($"{client.FirstName} {client.LastName}", "Details", new {id = client.StylistId})</p>
  }
}
</div>